.App {
    display: grid;
    grid-template-areas:
          'header header'
          'maine maine'
          'footer footer';
    grid-template-columns: 70%;
    grid-template-rows: 80px 1fr;
    margin: 5px auto;
    /*justify-content: center;*/
}

.Header {
    display: grid;
    grid-area: header;
    background: #cebe08;
    text-align: center;
    padding: 10px 5px 5px 5px;
}

.Header a{
    text-decoration: none;
}

a.activeHeader {
    color: #fdfcfc;
}

.Maine {
    display: grid;
    grid-area: maine;
    background: blue;
    text-align: center;
}

.Footer {
    display: grid;
    grid-area: footer;
    background: yellow;
}